/* JoinOurGym.css */
@keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }